/* Optimizaciones generales de renderizado */
html {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Scroll padding para que el navbar sticky no tape los títulos */
html {
  scroll-padding-top: 5rem;
}

/* Transición suave para botones */
a, button {
  transition: all 0.2s ease-in-out;
}

/* Ancho y estilo general de la barra */
::-webkit-scrollbar {
  width: 10px;
}

/* Fondo del carril */
::-webkit-scrollbar-track {
  background: #0f172a; /* Slate oscuro */
}

/* Indicador de desplazamiento (Thumb) */
::-webkit-scrollbar-thumb {
  background: #751318; /* Burdeo institucional */
  border-radius: 5px;
  border: 2px solid #0f172a;
}

/* Hover sobre el indicador */
::-webkit-scrollbar-thumb:hover {
  background: #5e0f13;
}

/* Compatibilidad con Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #751318 #0f172a;
}